body {
  
  background-repeat: no-repeat;
  background-size: 100% 100vh;
 background-image: url(1639703499_234-catherineasquithgallery-com-p-milii-rozovii-fon-na-rabochii-stol-396.jpg);
 color: white;
}

.2h {
  font-family: Comic Sans MS, Comic Sans, cursive;
  color: white;
}